.container{
    padding: 100px;
    margin: 100px;
    border: 4px solid black;
    border-radius: 5px;
    background-image: url(image.jpg);
    background-position: center;
    background-size: cover;

}
#bt{
    text-decoration: none;
    border: 2px solid darkblue;
    background-color: lightblue;
    border-radius: 50px;
    padding: 10px;
   
}
.box:hover{

    
    transform: scale(1.2);
    color: aqua;
}
h1{
    color: rgb(112, 169, 31);
    padding-bottom: 80px;

}
